
.paper{
    margin: 0 auto;
    padding: 20px;
    max-width: 850px;
    background: linear-gradient(90deg, orange 64.55%, black 0) !important;
    border-radius: 15px !important;
}

.left{
margin:0 auto;
font-weight: bold;
color:black;
max-width: 520px;
padding-right: 20px;
}
.right{
    margin:0 auto;
    color:white;
    max-width: 350px;
}

