.background{
    background-image: linear-gradient(orange,#c19a6b)!important;    flex-grow: 1;

}

.background:hover{
    transition: all 0.7s !important;
    color:orange !important;
}

.navLink{
    padding:3px !important;
    margin:2px;
    border-radius:3.5px;
  
}

.drawerLink{
    padding:3px !important;
    margin:2px;
    border-radius:3.5px;

}
.navLink:hover{
    transition: 0.7s;
    box-shadow: 0px 2px 0px 0px #BC4242;
}


.navLinkActive{
    padding:3px !important;
    margin:2px;
 
    box-shadow: 0px 1px 0px 0px green;
}

.showSmall{
    display: none !important;
    pointer-events: none !important;
}


@media only screen and (min-width: 750px) {

    .showSmall{
        display: block !important;
        pointer-events: all !important;
    }
    .showBig{
        display: none !important;
        pointer-events: none !important;
    }
}



/* // .navLink{
// display:"none" !important;
// pointer-events: none !important;
//     }
// } */
